<div class="wrapper">
    <!-- Redo is night here!-->
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Bâtiment_UIR.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h6 style="padding: 22px" class="description">Visualiser les demandes de création de clubs</h6>
                </div>
            </div>
            <button  [routerLink]="['/admin']"  class="btn btn-outline-default btn-round" style="margin-left: 38%;"><i class="fa fa-cog"></i>  retour à la page précédente</button>
            <div   style="display: flex" class="row">
                <div *ngFor="let e of events ; " style="display: inline-flex" class="col-md-4 ml-auto mr-auto text-center">

                    <!-- ici je vais insérer mes clubs -->

                    <div   style="display: inline-block;margin: 1em;" class="card">
                        <div  style="">
                            <div class="card-body">
                                <h5 class="card-title">{{e.nomevent}}</h5>
                                <p class="card-text">
                                    {{e.type}}
                                </p>
                                <a  (click)="sendtoEvent(e.idevent)" class="btn btn-info btn-round">View more details=></a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div *ngIf="events.length==0" style="text-align: center">
                No Demandes
            </div>
    </div>
</div>

</div>