<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Bâtiment_UIR.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h6 style="padding: 22px" class="description">{{club.nomclub}}</h6>
                </div>
                <div *ngIf="verifyAdmin()">
                    <button *ngIf="club.etat==true" class="btn btn-danger" (click)="desactiverClub()">desactiver</button>
                    <button *ngIf="club.etat==false" class="btn btn-success" (click)="ActiverClub()">activer</button>
                </div>

                <div class="image">
                    <img id="test"  style="height: 250px;width: 250px" class="img-thumbnail" [src]="srcData">
                </div>

                <div class="name">
                    <h6 style="padding: 22px" class="description">{{club.description}}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-right">
        <button *ngIf="verifyUser()" (click)="rejoindreClub()" class="btn btn-primary" ><i class="fa fa-cog"></i>  rejoindre</button></div>
    </div>
<br/>
    <br/>
    <br/>
    <div class="col-md-12 text-center" *ngIf="verifyUser()">
        <div class="title">reunions</div>
        <div *ngFor="let c of club.reunions"  style="display: inline-flex" class="col-md-4 ml-auto mr-auto text-center">

            <!-- ici je vais insérer mes clubs -->

            <div  style="display: inline-block;margin: 1em;" class="card bg-dark">
                <div  style="">
                    <div class="card-body">
                        <h5 class="card-title text-light">When : {{c.datedebut}}</h5>
                        <h5 class="card-title text-light">Where :{{c.lieu}}</h5>
                        <h5 class="card-title text-light">for :{{c.duree}} min</h5>
                        <button *ngIf="verifyMemberComite()" class="btn btn-danger" (click)="RemoveReunion(c.idreunion)">Delete</button>
                    </div>
                </div>
            </div>

        </div>
        <button *ngIf="verifyMemberComite()" class="btn btn-success" [routerLink]="['/reunion']">set a Reunion</button>
    </div>
    <br/>
    <br/>
    <br/>
        <div class="col-md-12 text-center">
        <button *ngIf="verifyMemberComite()" (click)="redirectClubAdminpage()" class="btn btn-primary"  ><i class="fa fa-cog"></i>  adminstrate</button>
        </div>
</div>