<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Bâtiment_UIR.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h6 style="padding: 22px;text-align: left" class="description">Informations à propos de l'evenement : <div class="d-flex justify-content-center flex-nowrap">{{event.nomevent}}</div></h6>
                </div>
            </div>

            <div style="display: inline-block" class="row d-flex justify-content-center flex-nowrap">
                <div style="display: inline-flex" class="text-center">

                    <!-- ici je vais insérer la dexription -->
                <div style=" ">
                    <p>{{event.description}}</p>
                    <br></div>
                    <br />

                </div>
            </div>
            <br />
            <div class="float-right"> <p>For more informations contact : {{email}}</p></div>






        </div>
    </div>
</div>