<div class="wrapper">
    <div  *ngIf="!value" class="page-header" style="background-image: url('./assets/img/Bâtiment_UIR.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">S'inscrire</h3>
                          <img  style="height: 7em;position: relative;top: -3px;width: 10em;align-content: center;right: -24%" src="/assets/img/logo-uir.png"  >

                          <form class="register-form">
                              <label>Email</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" [(ngModel)]="emailsignup" n placeholder="Email" (focus)="focus=true" (blur)="focus=false" name="emailsignup" >
                              </div>


                              <p _ngcontent-c7="" class="text-primary">Nous allons procéder à la verification de votre addresse email et ensuite vous envoyer un mot de passe dans la même addresse.</p>

                              <button   (click)="singup()" style="background-color:#d1d800;border-color:#d1d800 " class="btn btn-danger btn-block btn-round">Faire une demande d'inscription</button>
                          </form>

                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> for UIR  </h6>
                </div>
            </div>
    </div>

    <div  *ngIf="value" class="page-header" style="background-image: url('./assets/img/uirbynight.png');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">S'inscrire</h3>
                        <img  style="height: 7em;position: relative;top: -3px;width: 10em;align-content: center;right: -24%" src="/assets/img/logo-uir.png"  >

                        <form class="register-form">
                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                <input type="text" class="form-control" [(ngModel)]="emailsignup"  name="emailsignup" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                            </div>


                            <p _ngcontent-c7="" class="text-primary">Nous allons procéder à la verification de votre addresse email et ensuite vous envoyer un mot de passe dans la même addresse.</p>

                            <button (click)="singup()" style="background-color:#d1d800;border-color:#d1d800 " class="btn btn-danger btn-block btn-round">Faire une demande d'inscription</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> for UIR  </h6>
            </div>
        </div>
    </div>



</div>
