
<div *ngIf="value" class="page-header" data-parallax="true" style="background-image: url('./assets/img/uirbynight.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>UIR CLUBS</h1>
            <h3>Découvrez les clubs de l'université internationale de Rabat.</h3>
            <br />
            <a href="#about_uiRclubs" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>En savoir plus</a>

        </div>
    </div>
</div>


<div *ngIf="!value" class="page-header" data-parallax="true"  style="background-image: url('./assets/img/Bâtiment_UIR.jpg') ;">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>UIR CLUBS</h1>
            <h3>Découvrez les clubs de l'université internationale de Rabat.</h3>
            <br />
            <a href="#about_uiRclubs" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>En savoir plus</a>

        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 id="about_uiRclubs"class="title">Qu'est ce que les clubs de l'UIR?</h2>

                <h5 class="description">Les clubs de l'université internationale de Rabat sont un environnement d'épanouissement de l'étudiant ,une occasion de développer et partager ses idées, une oportunité d'apprendre de nouvelles choses.</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">Plus de détails</a>
            </div>
        </div>

        <div class="section" id="carousel">
            <div class="container">
                <div class="tim-title">
                    <h3>Voici quelques clubs choisis aléatoirement</h3>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                    <div class="carousel-caption">
                                        <p>Somewhere</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                        <p>Somewhere else</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                    <div class="carousel-caption">
                                        <p>Here it is</p>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Direction de la Vie étudiante de l'université</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/image_vieetudiante1.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Rachid Hadre</h4>
                                <h6 class="card-category">Résponsable communication de la vie étudiante</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        text....
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
