<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Bâtiment_UIR.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h6 style="padding: 22px" class="description">{{club.nomclub}}</h6>
                </div>

                <div class="image">
                    <img  id="test"  style="height: 250px;width: 250px" class="img-thumbnail" [src]="srcData"><br/>
                    <div >
                    <input   type="file" accept="image/*" class="col-md-3 text-center"  (change)="onFileChanged($event)"><br/><br/>
                        <button  (click)="OnImageUplaod()" class="btn-round btn btn-secondary col-md-3 text-center">upload the image</button>
                    </div>
                </div>
<br/><br/>
                <div class="name">
                    <h6 style="padding: 22px" class="title">Change responsable pedagogique</h6>
                </div>
                <div class="select" >
                    <select class="custom-select" [(ngModel)]="idpedag">
                        <option *ngFor="let p of pedag" [value]="p.idE" >{{p.fullname}}</option>
                    </select>
                    <button class="btn btn-secondary" (click)="changePedag()">Confirm</button>
                </div>

                <div class="name">
                    <h6 style="padding: 22px" class="title">Members</h6>
                </div>
                <div class="scroll-area"  style="margin-right: auto;margin-left: auto">
                    <table class="table text-center" >
                        <tr *ngFor="let m of members" class="row-cols-md-4" >
                            <td>{{m.name}}</td>
                            <td>{{m.email}}</td>
                            <td *ngIf="m.role=='pres'">president</td>
                            <td *ngIf="m.role=='secr'">secretaire</td>
                            <td *ngIf="m.role=='Vpres'">vise-president</td>
                            <td *ngIf="m.role=='member'">{{m.role}}</td>
                            <td><button *ngIf="m.role!='pres'" (click)="deletemember(m.email)" class="btn btn-danger"> delete</button></td>
                        </tr>
                    </table>
                </div>
                <div id="add member" style="margin-left: auto;margin-right: auto">
                    <div class="name">
                        <h6 style="padding: 22px" class="title"> add or promote to comite Member</h6>
                    </div>

                    <label class="label label-warning" *ngIf="verify1">{{message1}}</label><br/>
                    <label class="label label-info">email</label>
                    <input type="email" name="email" [(ngModel)]="email" class="col-md-3 text-center"><br/>
                    <label class="label label-info">role:</label>
                    <select [(ngModel)]="role" class="custom-select col-md-3 text-center">
                        <option value="pres" *ngIf="verifyUser()" >president</option>
                        <option value="Vpres">Vise-president</option>
                        <option value="secr">secretaire</option>
                        <option value="tres">tresorier</option>
                    </select><br/>

                    <button (click)="addComite()" class="btn btn-secondary">add the member</button>
                </div>
<br/><br/>
                <div style="margin-left: auto;margin-right: auto" *ngIf="verifyUser()" class="row-cols-md-3 text-center">
                    <div class="name">
                        <h6 style="padding: 22px" class="title">Set budget</h6>
                    </div>
                    <label class="label label-warning" *ngIf="verify">{{message}}</label><br/>
                    <label>input the new budget</label><br/>
                    <input type="number"  placeholder="{{club.budget}}" [(ngModel)]="budget">
                    <button class="btn btn-secondary" (click)="addnewBudget()">validate</button>
                </div>



            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="col-md-12 text-center">
    <button [routerLink]="['/createevent']" class="btn btn-primary"  ><i class="fa fa-cog"></i>  create an event</button>
    </div>
</div>