<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Bâtiment_UIR.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h6 style="padding: 22px" class="description">{{club.nomclub}}</h6>
                </div>

                <div class="image">
                    <img id="test"  style="height: 250px;width: 250px" class="img-thumbnail" [src]="srcData">
                </div>

                <div class="name">
                    <h6 style="padding: 22px" class="title">Members</h6>
                </div>
                <div *ngFor="let m in members" class="table scroll-area text-center " >
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="col-md-12 text-center">
    <button [routerLink]="['/createevent']" class="btn btn-primary"  ><i class="fa fa-cog"></i>  create an event</button>
    </div>
</div>