
<div class="wrapper">
    <!-- Redo is night here!-->
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Bâtiment_UIR.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h6 style="padding: 22px" class="description">Visualiser les demandes de création de clubs</h6>
                </div>
            </div>
            <button  [routerLink]="['/admin']"  class="btn btn-outline-default btn-round" style="margin-left: 38%;"><i class="fa fa-cog"></i>  retour à la page précédente</button>
            <div   style="display: flex" class="row">
                <div *ngFor="let d of demande ; " style="display: inline-flex" class="col-md-4 ml-auto mr-auto text-center">

                    <!-- ici je vais insérer mes clubs -->

                    <div   style="display: inline-block;margin: 1em;" class="card">
                        <div  style="">
                            <div class="card-body">
                                <h5 class="card-title">{{d.nomClubD}}</h5>
                                <p class="card-text">
                                    {{d.typedeDem}}
                                </p>
                                <a  (click)="AcceptDemande(d.idDem)" class="btn btn-success">accepter la demande</a>
                                <a (click)="refuserDemande(d.idDem)" class="btn btn-danger">refuser la demande</a>
                            </div>
                        </div>
                    </div>


            </div>
            </div>
            <div *ngIf="demande.length==0" style="text-align: center">
                No Demandes
            </div>




            <button  class="btn btn-primary" style="float: right" ><i class="fa fa-cog"></i>  next</button>
            <button  class="btn btn-primary" style="float: right" ><i class="fa fa-cog"></i>  back</button>
            <br/>


        </div>
    </div>
</div>
