<div class="wrapper">
    <div  *ngIf="!isnight()" class="page-header" style="background-image: url('./assets/img/Bâtiment_UIR.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Se connecter</h3>
                          <img  style="height: 7em;position: relative;top: -3px;width: 10em;align-content: center;right: -24%" src="/assets/img/logo-uir.png"  >

                          <form class="register-form">
                              <label>Email</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                              </div>

                              <label>Password</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>
                              <button style="background-color:#d1d800;border-color:#d1d800" class="btn btn-danger btn-block btn-round">S'identifier</button>
                          </form>
                          <div class="forgot">
                              <a href="#" style="color:#d1d800;" class="btn btn-link btn-danger">Forgot password?</a>
                          </div>

                          <div class="forgot">
                              <a [routerLink]="['/signup']"  routerLink="/signup" style="color:white;margin:0" class="btn btn-link btn-danger">Pas encore inscrit?Faites une demande d'inscription</a>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> for UIR  </h6>
                </div>
            </div>
    </div>

    <div  *ngIf="isnight()" class="page-header" style="background-image: url('./assets/img/uirbynight.png');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Se connecter</h3>
                        <img  style="height: 7em;position: relative;top: -3px;width: 10em;align-content: center;right: -24%" src="/assets/img/logo-uir.png"  >

                        <form class="register-form">
                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                            </div>

                            <label>Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                            <button style="background-color:#d1d800;border-color:#d1d800" class="btn btn-danger btn-block btn-round">S'identifier</button>
                        </form>
                        <div class="forgot">
                            <a href="#" style="color:#d1d800;" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                        <div class="forgot">
                            <a [routerLink]="['/signup']" style="color:white;" class="btn btn-link btn-danger">Pas encore inscrit?Faites une demande d'inscription</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> for UIR  </h6>
            </div>
        </div>
    </div>

</div>
