<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/Bâtiment_UIR.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <h6 style="padding: 22px" class="description">Mes Clubs</h6>
                </div>
            </div>

            <div style="display: flex" class="row">
                <div style="display: inline-flex" class="col-md-6 ml-auto mr-auto text-center">

                    <!-- ici je vais insérer mes clubs -->

                    <div  style="display: inline-block" class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                                    class="img-fluid"
                            />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>

                    <div  style="display: inline-block" class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                                    class="img-fluid"
                            />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>


                    <div  style="display: inline-block" class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                                    class="img-fluid"
                            />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>

                    <div  style="display: inline-block" class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                                    src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                                    class="img-fluid"
                            />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>

                    <br />

                </div>
            </div><button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Voir plus de clubs</button>
            <br/>

            <div class="section profile-content">
                <div class="container">
                    <div class="owner">

                        <div class="name">

                            <h6 style="padding: 22px" class="description">Les clubs de l'UIR</h6>
                        </div>
                    </div>
                    <div style="display: inline-block" class="row">
                        <div style="display: inline-flex" class="col-md-6 ml-auto mr-auto text-center">

                            <!-- ici je vais insérer mes clubs -->

                            <div  style="display: inline-block" class="card">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img
                                            src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                                            class="img-fluid"
                                    />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.
                                    </p>
                                    <a href="#!" class="btn btn-primary">Button</a>
                                </div>
                            </div>

                            <div  style="display: inline-block" class="card">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img
                                            src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                                            class="img-fluid"
                                    />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.
                                    </p>
                                    <a href="#!" class="btn btn-primary">Button</a>
                                </div>
                            </div>


                            <div  style="display: inline-block" class="card">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img
                                            src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                                            class="img-fluid"
                                    />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.
                                    </p>
                                    <a href="#!" class="btn btn-primary">Button</a>
                                </div>
                            </div>

                            <div  style="display: inline-block" class="card">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img
                                            src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                                            class="img-fluid"
                                    />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's content.
                                    </p>
                                    <a href="#!" class="btn btn-primary">Button</a>
                                </div>
                            </div>

                            <br />

                        </div>
                    </div><button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Voir plus de clubs</button>
                    <br/>


                </div>
            </div>
        </div>
