<div   class="page-header"style="background-color: #1b3f6c" >

    <div>

    <div class="row" style="position: relative;margin: 100px">
        <div>
            <h1 style="">Mes clubs</h1>
        </div>
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">

        <div class="card" style="position: relative;display: block">
            <img
                    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                    class="card-img-top"
                    alt="..."
            />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
